USE [master]
GO
/****** Object:  Database [DentistDB]    Script Date: 03.12.2025 11:21:44 ******/
CREATE DATABASE [DentistDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DentistDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DentistDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DentistDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DentistDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DentistDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DentistDB]
GO
/****** Object:  User [employee]    Script Date: 03.12.2025 11:21:44 ******/
CREATE USER [employee] FOR LOGIN [employee] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [administrator]    Script Date: 03.12.2025 11:21:44 ******/
CREATE USER [administrator] FOR LOGIN [administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[favor]    Script Date: 03.12.2025 11:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favor](
	[favor_code] [char](6) NOT NULL,
	[favor_name] [char](50) NULL,
	[cost] [decimal](18, 0) NULL,
	[duration] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[favor_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[id_patient] [char](6) NOT NULL,
	[first_name] [char](50) NULL,
	[second_name] [char](50) NULL,
	[patient_address] [char](50) NULL,
	[phone_number] [char](13) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_patient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[id_appointment] [char](6) NOT NULL,
	[id_employee] [char](6) NULL,
	[id_patient] [char](6) NULL,
	[favor_code] [char](6) NULL,
	[appointment_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_appointment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PatientServicesCost]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PatientServicesCost] AS
SELECT
    patient.first_name AS PatientName,
    patient.second_name AS PatientSurname,
    favor.favor_name AS ServiceName,
    favor.cost AS ServiceCost
FROM
    patient
JOIN
    appointment ON patient.id_patient = appointment.id_patient
JOIN
    favor ON appointment.favor_code = favor.favor_code;
GO
/****** Object:  Table [dbo].[employee]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id_employee] [char](6) NOT NULL,
	[first_name] [char](50) NULL,
	[second_name] [char](50) NULL,
	[employee_address] [char](50) NULL,
	[phone_number] [char](13) NULL,
	[position_code] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AppointmentDetails]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AppointmentDetails] AS
SELECT
    patient.second_name AS Patient,
    employee.second_name AS Doctor,
    appointment.appointment_time AS AppointmentTime,
    favor.favor_name AS ServiceName,
    favor.cost AS ServiceCost
FROM
    appointment
JOIN
    patient ON patient.id_patient = appointment.id_patient
JOIN
    employee ON appointment.id_employee = employee.id_employee
JOIN
    favor ON appointment.favor_code = favor.favor_code
--GROUP BY patient.second_name;
GO
/****** Object:  Table [dbo].[position]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[position](
	[position_code] [char](6) NOT NULL,
	[position_name] [char](18) NULL,
	[position_description] [char](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[position_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[appointment] ([id_appointment], [id_employee], [id_patient], [favor_code], [appointment_time]) VALUES (N'A001  ', N'E001  ', N'PA001 ', N'F001  ', CAST(N'2024-05-13T10:00:00.000' AS DateTime))
INSERT [dbo].[appointment] ([id_appointment], [id_employee], [id_patient], [favor_code], [appointment_time]) VALUES (N'A002  ', N'E003  ', N'PA003 ', N'F003  ', CAST(N'2024-05-10T18:00:00.000' AS DateTime))
INSERT [dbo].[appointment] ([id_appointment], [id_employee], [id_patient], [favor_code], [appointment_time]) VALUES (N'A003  ', N'E002  ', N'PA002 ', N'F002  ', CAST(N'2024-05-14T16:00:00.000' AS DateTime))
GO
INSERT [dbo].[employee] ([id_employee], [first_name], [second_name], [employee_address], [phone_number], [position_code]) VALUES (N'E001  ', N'John                                              ', N'Doe                                               ', N'Kyiv, Shevchenko str., 1                          ', N'380501234567 ', N'PO001 ')
INSERT [dbo].[employee] ([id_employee], [first_name], [second_name], [employee_address], [phone_number], [position_code]) VALUES (N'E002  ', N'Jane                                              ', N'Doe                                               ', N'Kyiv, Franko str., 2                              ', N'380502345678 ', N'PO002 ')
INSERT [dbo].[employee] ([id_employee], [first_name], [second_name], [employee_address], [phone_number], [position_code]) VALUES (N'E003  ', N'Bob                                               ', N'Smith                                             ', N'Kyiv, Deribasivska str., 3                        ', N'380503456789 ', N'PO003 ')
GO
INSERT [dbo].[favor] ([favor_code], [favor_name], [cost], [duration]) VALUES (N'F001  ', N'Teeth Cleaning                                    ', CAST(3000 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)))
INSERT [dbo].[favor] ([favor_code], [favor_name], [cost], [duration]) VALUES (N'F002  ', N'Cavity Filling                                    ', CAST(6000 AS Decimal(18, 0)), CAST(45 AS Decimal(18, 0)))
INSERT [dbo].[favor] ([favor_code], [favor_name], [cost], [duration]) VALUES (N'F003  ', N'Root Canal Treatment                              ', CAST(8000 AS Decimal(18, 0)), CAST(90 AS Decimal(18, 0)))
GO
INSERT [dbo].[patient] ([id_patient], [first_name], [second_name], [patient_address], [phone_number]) VALUES (N'PA001 ', N'Vitalii                                           ', N'Shariy                                            ', N'Kyiv, Franko str., 10                             ', N'380673804675 ')
INSERT [dbo].[patient] ([id_patient], [first_name], [second_name], [patient_address], [phone_number]) VALUES (N'PA002 ', N'Liubov                                            ', N'Khotsinska                                        ', N'Kyiv, Shevchenko str., 19                         ', N'380673864675 ')
INSERT [dbo].[patient] ([id_patient], [first_name], [second_name], [patient_address], [phone_number]) VALUES (N'PA003 ', N'Olena                                             ', N'Sarkhosh                                          ', N'Kyiv, Lysenko str., 55                            ', N'380673805987 ')
GO
INSERT [dbo].[position] ([position_code], [position_name], [position_description]) VALUES (N'PO001 ', N'Dentist           ', N'A dentist diagnoses and treats problems with patients’ teeth, gums, and related parts of the mouth.                                                                                                     ')
INSERT [dbo].[position] ([position_code], [position_name], [position_description]) VALUES (N'PO002 ', N'Hygienist         ', N'A dental hygienist cleans teeth, examines patients for signs of oral diseases and provides preventive care.                                                                                             ')
INSERT [dbo].[position] ([position_code], [position_name], [position_description]) VALUES (N'PO003 ', N'Orthodontist      ', N'An orthodontist specializes in diagnosing and treating teeth and jaw alignment problems using braces, retainers, and other methods.                                                                     ')
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([favor_code])
REFERENCES [dbo].[favor] ([favor_code])
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([id_employee])
REFERENCES [dbo].[employee] ([id_employee])
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([id_patient])
REFERENCES [dbo].[patient] ([id_patient])
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD FOREIGN KEY([position_code])
REFERENCES [dbo].[position] ([position_code])
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentsAndFavors]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAppointmentsAndFavors]
    @start_date DATETIME,
    @end_date DATETIME
AS
SET NOCOUNT ON;
BEGIN
    SELECT f.favor_name, COUNT(*) AS appointment_count, CAST(a.appointment_time AS DATE) AS appointment_day
    FROM appointment a
    JOIN favor f ON a.favor_code = f.favor_code
    WHERE a.appointment_time BETWEEN @start_date AND @end_date
    GROUP BY f.favor_name, CAST(a.appointment_time AS DATE);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeFreeDays]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetEmployeeFreeDays]
    @surname NVARCHAR(50),
    @start_date DATETIME,
    @end_date DATETIME
AS
SET NOCOUNT ON;
BEGIN

    WITH DateRange(Dates) AS (
        SELECT @start_date
        UNION ALL
        SELECT DATEADD(day, 1, Dates)
        FROM DateRange
        WHERE Dates < @end_date
    )
    SELECT  @surname AS second_name, Dates AS free_days
    FROM DateRange
    WHERE NOT EXISTS (
        SELECT 1
        FROM appointment
        JOIN employee ON appointment.id_employee = employee.id_employee
        WHERE employee.second_name = @surname AND CAST(appointment.appointment_time AS DATE) = Dates
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[GetWeeklyAppointments]    Script Date: 03.12.2025 11:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetWeeklyAppointments]
    @surname NVARCHAR(50),
    @start_date DATETIME,
    @end_date DATETIME
AS
SET NOCOUNT ON;
BEGIN

    SELECT second_name, appointment_time
    FROM appointment, employee
    WHERE second_name = @surname AND employee.id_employee = appointment.id_employee  AND appointment_time BETWEEN @start_date AND @end_date;
END;
GO
USE [master]
GO
